.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(46, 196, 241)
}

.board {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.column {
  flex: 1;
  min-width: 300px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
}